$primary-color: rgba(0, 45, 65, 1);
$primary-color-lighten: lighten(#174052, 0.2);
$secondary-color: rgba(0, 166, 166, 1);
$side-color: rgba(215, 38, 61, 1);
$white-font-color: rgba(255, 255, 255, .9);
$white: white;
$red: red;
