@import '~styles/shadows';
@import '~styles/colors';

.event {
  background-color: $white;
  width: calc(25vw - 80px);
  height: calc(25vw - 80px);
  padding: 20px;
  margin: 10px;
  box-shadow: $box-shadow-1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  border-bottom: 1px solid darkgrey;
  padding: 5px;
}

.description {
  padding: 20px 5px;
  text-align: justify;
  justify-self: flex-start;
}

.infos {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-top: 1px solid darkgrey;
}

.emphasis {
  margin: 0px 3px;
  font-weight: bold;
}

.alert {
  color: darkred;
}
.good {
  color: darkgreen;
}

.status {
  margin-left: 5px;
  font-weight: bold;
}
