@import '~styles/shadows';
@import '~styles/colors';
$app-background-color: #F5F5F5;

:global body {
  margin: 0;
  font-family: Arial;
  background-color: lavenderblush;
}

.container {
  background-color: $app-background-color;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  height: calc(100% - 50px);
  overflow: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
